@{
    ViewBag.Title = "Index";
    //Layout = null;
   
} 

@helper Truncate(string input, int length)
{
    if (input.Length <= length) {
        @input
    } else {
        @input.Substring(0, length)<text>...</text>
    }
} 

<div class="tabbable" style="margin-bottom: 18px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab11" data-toggle="tab">Import Model</a></li>
            <li><a href="#tab12" data-toggle="tab">Import Toner</a></li>
        </ul>
        <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
           
     <div class="tab-pane active" id="tab11">
                @using (Html.BeginForm("Importexcel", "StoreManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <table>
                        <tr>
                            <td>Excel file</td>
                            <td>
                                <input type="file" id="FileUpload1" name="FileUpload1" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" id="Submit" name="Submit" value="Submit" /></td>
                        </tr>
                    </table>
             }
            </div> 

            <div class="tab-pane" id="tab12">
                @using (Html.BeginForm("ImportTonerexcel", "StoreManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <table>
                        <tr>
                            <td>Excel file</td>
                            <td>
                                <input type="file" id="FileUpload2" name="FileUpload2" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" id="Submit1" name="Submit" value="Submit" /></td>
                        </tr>
                    </table>
             }
            </div>
          
        </div> 

    
     </div>  
 
<script src="~/Scripts/jquery-1.7.1.js"></script>


<script src="~/Content/bootstrapjs/bootstrap-tab.js"></script>