
<div class="container-fluid">
    <div class="row-fluid">

        <div class="span2">
            @Html.Partial("~/Views/StoreManager/AdminMenu.cshtml")
        </div>
            
        <div class="span10">
           <h2>Welcome To our site</h2> Shopping is the part and parcel to our life.
             To fulfil our daily life demand ,we go to market and get our necessary things.
             Online shopping is opened a new dimension to fulfil this demands.In this case,
             ,our site try to fulfil this things with an electronics product named Photocopier
             machines. @Html.ActionLink("Click me","EntryView","StoreManager").
         </div> 
     </div>
</div> 





   
        

