@{
    ViewBag.Title = "Help1Menu";
}

<ul  class="nav nav-tabs nav-stacked">

    <li><a id="a1" href="#">OverView</a></li> 
    <li><a id="a2" href="#">Order Process</a></li> 
    <li><a id="a3" href="#">Payment</a></li>
    <li><a id="a4" href="#">Shipping</a></li>
    <li><a id="a5" href="#">Conditions</a></li>
    <li><a id="a6" href="#">FAQ</a></li> 

</ul>