<h2>Bkash</h2>

<h3>Please use following steps to pay now:</h3>

    Go to bKash Menu by dialing *247# ? <br />
    Choose 'Payment' option by pressing '3'<br />
    Enter our business wallet number : 01768700284<br />
    Enter BDT. amount you have to pay : xxxx<br />
    Enter a reference against your payment : xxxx<br />
    Enter the counter number : 1<br />
    Now enter your PIN to confirm: xxxx<br />
    Done! You will get a confirmation SMS<br /><br />

 <img src="/Images/Payment.jpg" class="allclass" title="IMAGE TITLE">

<h3>How to open a bKash account?</h3>

Go to any of your nearby bKash Agent along with -<br />

    Your mobile phone (Robi/GP/Airtel/Banglalink)<br />
    A copy of your Photo ID (National ID/Passport/Driving License)<br />
    2 copies of Passport size photographs<br />

Fill out the Account opening form and put your thumb print & signature properly. Please make sure that you have taken your copy (customer copy) from agent and preserve it for future reference. <br />


