@{
    ViewBag.Title = "HelpMenu";
}

<ul id="categories" class="nav nav-tabs nav-stacked">

    <li><a href="#">Site Resource</a></li> 
    <li><a href="#">Forum</a></li> 
    <li><a href="#">Trade Intelligence</a></li>  

</ul>