@{
    ViewBag.Title = "Community";
  
}

   
<div class="container-fluid">
    <div class="row-fluid">

        <div class="span3">
            @Html.Partial("~/Views/Home/CommunityMenu.cshtml")
        </div>

        <div class="span10">

        </div> 

     </div>

</div>