<h3>IMPORTANT LEGAL NOTICE</h3>
<h4>1. INTRODUCTION</h4>
1.1 You may access some areas of this Website without making a order, and registering your details with us. Most areas of this Website are open to everyone.<br />
1.2 By accessing any part of this Website, you indicate that you accept this legal notice. If you do not accept this legal notice, you must leave this Website immediately.<br />
1.3 bangladeshbrands.com may revise this legal notice at any time by updating this posting. You should check this Website regularly to review the current legal notice, because it is binding on you. Some of this legal notice may be overridden by notices or terms on other pages of this Website
<h4>2. LICENCE</h4><br />
2.1 You are permitted to print and download extracts from this Website for your own use on the following basis:
2.2 Unless otherwise stated, the copyright and other intellectual property rights in all material on this Website (including without limitation photographs and
graphical images) are owned by bangladeshbrands.com/. For the purposes of this legal notice, any use of extracts from this Website other than in accordance with paragraph 2.1
is prohibited. If you breach any of the terms in this legal notice, your permission to use this Website automatically terminates and you must immediately destroy any downloaded or printed extracts from this Website.
2.3 Except as stated in paragraph 2.1, no part of this Website may be reproduced or stored in any other website or included in any public or private electronic retrieval system or service without our prior written permission.
2.4 Any rights not expressly granted in these terms are reserved.
<h4>3. SERVICE ACCESS</h4>
3.1 While bangladeshbrands.com tries to ensure this Website is normally available twenty four (24) hours a day, bangladeshbrands.com will not be liable if this Website is unavailable at any time or for any period.
3.2 Access to this Website may be suspended temporarily and without notice.
<h4>4. VISITOR MATERIAL AND CONDUCT</h4>
4.1 Other than personally identifiable infor7mation, which is covered under the Privacy Policy, bangladeshbrands.com any material you transmit or post to this Website will be considered non-confidential and non-proprietary. will have no obligations with respect to such material. bangladeshbrands.com and anyone we designate will be free to copy, disclose, distribute, incorporate and otherwise use that material and all data, images, sounds, text and other things embodied in it for any and all commercial or non-commercial purposes.
4.2 You are prohibited from posting or transmitting to or from this Website any material:
4.3 You may not misuse the Website (including by hacking).
4.4 bangladeshbrands.com  will fully co-operate with any law enforcement authorities or court order requesting or directing us to disclose the identity or location of anyone posting any material in breach of paragraph 4.2 or paragraph 4.3.
<h4>5. DISCLAIMER</h4>
5.1 While bangladeshbrands.com tries to ensure that information on this Website is correct, we do not promise it is accurate or complete. bangladeshbrands.com may make changes to the material on this Website, or to the services and prices described in it, at any time without notice.
<h4>6. LIABILITY</h4>
6.1 bangladeshbrands.com, and any of our group companies and the officers, directors, employees, shareholders or agents of any of them, exclude all liability and responsibility for any amount or kind of loss or damage that may result to you (including any direct, indirect, punitive or consequential loss or damages, or any loss of income, profits, goodwill, data, contracts, use of money, or loss or damages arising from or connected in any way to business interruption, and whether in tort, contract or otherwise) in connection with this Website or in connection with the use, inability to use or the results of use of this Website, any websites linked to this Website or the material on these websites.
6.2 Nothing in this legal notice excludes or limits our liability for:
6.3 If your use of material on this Website results in the need for servicing, repair or correction of equipment, software or data, you assume all associated costs.