<h3>FAQs</h3>
<h4>About My Store</h4>
1.Is FSB an Bangladeshi Company?<br />
2. Where is FSB’s head office located?<br />
3. What can I buy in FSB?<br />
4. Are FSB products available internationally?<br />
<h4>Shopping</h4>
5. How do I shop online?<br />
6. How will I know if you have received my order?<br />
7. How do I check my order status?<br />
****8. Is it safe to use my credit card online at Bangladeshbrands.com?<br />
9. What if an item is out of stock?<br />
10. Do I have to sign up for a Bangladeshbrands account to buy something at bangladeshbrands.com?<br />
<h4>Shipping</h4>
11. Will I be charged for entry taxes in case domestic shipping?<br />
12.How long will it take to receive my order?<br />
13. Which countries do you ship to?<br />
14.Do you offer expedited shipping?<br />
15.How is my order shipped?<br />
16.What are the shipping cost?<br />
17.Will I be charged for customer charges in case of international shipping?<br />
18. Can I change my shipping address after placing my order?<br />
<h4>Billing ang payment</h4>
19.In case the delivering destination is outside the Bangladesh,will I be charged for sales tax?<br />
20.What payment method do you accept?<br />
21.When will my credit card be charged?<br />
22.What currency will my order be billed in?<br />
<h4>Customer services</h4>
23.Can I change my billing address?<br />
24. How do I contact customer service?<br />
25. Will you share my information with others?<br />
26. How can I cancel order?<br />
<h4>Returns and Exchange</h4>
27. What is return policy?<br />
28.How do I exchange an item?