@{
    ViewBag.Title = "HelpMenu";
} 




<ul class="nav nav-tabs nav-stacked">

    <li><a id="a1" href="#">Security Center</a></li> 
    <li><a id="a2" href="#">Suggestions</a></li> 
    <li><a id="a3" href="#">Contact Us</a></li> 
    <li><a id="a4" href="#">Send Mail</a></li> 
   
</ul>