 <h3>Payment Information</h3>
                
For the first time in Bangladesh BRAC Bank limited has introduced e-commerce program for all VISA cardholders. Electronic Commerce is a convenient and affordable way to buy and sell products or services online.

E-Commerce software and service enables individuals to maintain an online business while performing transactions right from the Web. It is the fastest, convenient and cost effective way of making transaction through web site.<br />
               <br />
                 Present solutions for online payment are as follows:<br />

> Brac Bank online payment(Any international Visa and Mastercard , Brac bank card)<br />
> Dutch Bangla(Nexus Card , Master Card option available for Visa also)<br />
> Q-cash( Any card of Sonali Bank, Trust Bank , Janata Bank, IFIC Bank and Jamuna)Soon will be open for all more 26 banks under Q-cash<br />
> <a id="a7" href="#">Bkash</a> <br />

                 <img src="/Images/payment_logos.png" class="img-rounded" title="IMAGE TITLE">
                <br />
                <h3>Cardholder's Benefits</h3>
> Search and find what they are looking for instantly<br />
> Choosing from a variety of options such as size and color<br />
> Viewing any or all of product specifications and photographs<br />
> Purchases will be delivered directly to their door<br />
> Order products without leaving their home<br />
> Security knowing every transaction is secure<br />
> Checking how much they have "spent" before committing to a purchase<br />
