<h3>DELIVERY INFORMATION</h3>

<h4>Our delivery partner</h4>
               
                 <img src="/Images/partner_01.jpg" class="img-rounded" title="IMAGE TITLE">
                 <img src="/Images/partner_02.jpg" class="img-rounded" title="IMAGE TITLE">
                 <img src="/Images/partner_03.jpg" class="img-rounded" title="IMAGE TITLE">
               
                 <br />

For Nation We deliver Nation Wide perishable goods through our partner Sundarban Courier.Sundarban Courier Service (Pvt.) Ltd. the First and fastest courier is Pioneer in the field of courier service in the Private sector in this part of the soil of Bangladesh, since 1983. It is mentioned that Sundarban Courier Service (Pvt.) Ltd. had started its Journey in the Private sector when Biman Bangladesh closed their Air Express Service in the country.<br />
For International We deliver internationally perishable goods through our partner DHL and Fedex. 

               <h4>For International Delivery it needs Approximate 5 to 6 working Days.</h4> 
<h4>Delivery cost:(Inside Bangladesh)</h4><br />

    1-2 Kg = 80 tk<br />
    6-7 Kg = 160 tk<br />
    3-5 Kg = 120 tk<br />
    8-10 Kg = 200 tk<br />

<h4>Delivery Time: 3 working days from your purchase.</h4><br />

Requirment at delivery : bill copy to the courier man while delivery.<br />

Non persiable goods are supplied presently only at Dhaka with a secure delivery team of FSB.Ltd<br />

<h4>Cash on Delivery Policies</h4><br />

You place an order on the website and enter your address during checkout. Since we provide cash on delivery only for perishable goods and it is applicable only for Dhaka Metropolitan city. After you place an order, a customer service representative will call you within 24 hours to confirm your orders and also will also send you an email. Please make sure you answer the call and confirm the order. Alternatively, you can also confirm the order yourself by calling us at 0193-519-4316 .Your order will now be proceed and you will receive the tracking number. A representative of FSB will make sure you will get your product.


<h5>Presently we are delivering to our fix location and they are divided into 6 zone.</h5><br />

    1.Dhanmondi ,Lalmatia, Mohamadpur<br />
    2.Gulshan 1 & 2, Badridhara DOHS<br />
    3.Banani, Old DOHS, New DOHS<br />
    4.Uttara<br />
    5.Mirpur ,Cantonment<br />
    6.Shantinogor , Moghbazar , Rampura<br /><br />

 

Sundarban Courier Service is our nationwide delivery partner and the ordered products are designated to reach the shipping address within 3-5 working days.For international delivery, DHL and FEDEX are the authorized delivery partner for orders outside Bangladesh.
It needs to be noted that, customer bears delivery charges as given by the respective delivery partners of our site.