@model MvcStore.Models.UserProfile

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Confirmation</h2>

<h3>Are you sure you want to delete @Html.DisplayFor(model => model.UserName)?</h3>

@using (Html.BeginForm()) {
    <p>
        <input class="btn btn-warning" type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
