@{
    ViewBag.Title = "UserMenu";
}

<ul  class="nav nav-tabs nav-stacked">

    <li><a id="a1" href="#">Profile</a></li> 
    <li><a id="a2" href="#">Dashboard</a></li> 
    <li><a id="a3" href="#">Change Password</a></li> 
</ul>